<div class="d-flex align-items-baseline justify-content-between">
  <div>
    <span class="title">{{ job.title }}</span>
  </div>
  <div class="client-address">
    <span class="subtitle">{{ job.client }}</span>
    <i class="bi bi-geo-alt-fill text-danger text-opacity-75"></i>
    <span class="address">
      {{ job.address.city }}
    </span>
  </div>
</div>
<div class="d-flex justify-content-between">
  <div>
    <span class="project">{{ job.project }}</span>
  </div>
  <div class="d-flex column-gap-2">
    <div><i class="bi bi-calendar3"></i></div>
    <div>
      <span class="date">{{ date }}</span>
    </div>
  </div>
</div>
@if (job.description) {
  <div class="d-flex column-gap-2 mt-2">
    <div>
      <i class="bi bi-info-circle-fill text-info text-opacity-75"></i>
    </div>
    <div>
      <span>{{ job.description }}</span>
    </div>
  </div>
}
@if (job.tasks.length) {
  <ul class="list">
    @for (task of job.tasks; track $index) {
      <li>{{ task | capitalize }}</li>
    }
  </ul>
}
