<div class="d-flex justify-content-between">
  <div>
    <span class="title">{{ job.title }}</span>
  </div>
  <div class="client-address">
    <span class="subtitle">{{ job.client }}</span>
    <i class="bi bi-geo-alt"></i>
    <span class="address">
      {{ job.address.city }}, {{ job.address.country }}</span
    >
  </div>
</div>
<div class="d-flex justify-content-between">
  <div>
    <span class="project">{{ job.project }}</span>
  </div>
  <div>
    <span class="date">{{ date }}</span>
  </div>
</div>
<div>
  <p>{{ job.description }}</p>
</div>
<ul class="list">
  <li *ngFor="let task of job.tasks">{{ task | capitalize }}</li>
</ul>
