:host {
  display: block;
}

.label-div {
  text-align: right;
}

:not(:last-child).skill {
  margin-bottom: 0.5rem;
}

.rating {
  display: flex;
  column-gap: 0.3rem;
}

.bi {
  color: var(--bs-green);
}
