:host {
  display: block;
}

.skill > div {
  text-align: right;
}

:not(:last-child).skill {
  margin-bottom: 0.5rem;
}

.rating {
  display: flex;
  align-items: center;
  column-gap: 0.2rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.7rem;
  width: 1.7rem;
  padding: 0 0.2rem;
  border: 2px solid var(--bs-green);
  border-radius: var(--bs-border-radius-pill);
  color: var(--bs-green);
}
