:host {
  display: block;
}

:host(.sorted) {
  display: flex;
  flex-direction: column-reverse;

  .row {
    align-items: center;

    &:not(:last-child) {
      border-top: 1px dashed var(--bs-gray);
      border-bottom: none;
    }
  }
}

.row {
  padding: 0.5rem 0;
}

.ranked-label-div {
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: flex-end;
  column-gap: 1rem;
  align-items: center;
}

.rating {
  display: flex;
  column-gap: 0.3rem;
}

.bi {
  color: var(--bs-green);
}
