/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "RobotoRegular";
  src: url("assets/fonts/roboto/Roboto-Regular.ttf");
}

:root {
  --bs-font-sans-serif: RobotoRegular;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
}

.section-title,
:not(:last-child).training,
:not(:last-child).experience {
  border-bottom: solid var(--bs-primary);
}

.section-title {
  border-width: 4px;
  line-height: 3rem;
  text-transform: uppercase;
}

.training,
.experience {
  border-width: 2px;
  padding: 1rem 0;
}

.section-list {
  display: flex;
  flex-direction: column;
}
