/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "RobotoRegular";
  src: url("assets/fonts/roboto/Roboto-Regular.ttf");
}

:root {
  font-size: 12px;
  --bs-font-sans-serif: RobotoRegular;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    width: 210mm;
    height: 297mm;
    padding: 18mm 15mm;
  }
}
@media screen {
  body {
    padding: 3rem;
  }
}

.name {
  text-transform: uppercase;
  font-size: 2rem;
}

.age {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: var(--bs-gray-700);
}

.profile-title {
  font-size: 1.5rem;
}

.section {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .section-title {
    display: inline-block;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-bottom: solid var(--bs-green);
    border-width: 2px;
    margin-bottom: 0.5rem;
  }

  .section-list {
    display: flex;
    flex-direction: column;

    & > * {
      padding: 0.5rem 0;

      &:not(:last-child) {
        border-bottom: 1px dashed var(--bs-gray-300);
      }
    }
  }
}

.title,
.subtitle {
  display: block;
}

.title {
  text-transform: uppercase;
  font-size: 1.1rem;
}

.address-date {
  color: var(--bs-secondary);
}

.list {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  padding-left: 1rem;
}
